# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\yinon\OneDrive\מסמכים\לימודים\סמי\תכנות\שנה ג\סימסטר ב\SecureCity\SecureCity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
