{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Management Page</title>
</head>
<body>
{#    <link rel="stylesheet" href="/static/style_back_all.css">#}
<br>
		<div class="row">
			<div class="col-md">
                    {% if user.is_superuser %}
						<a class="btn btn-primary" href="/admin/Contact/contact/" role="button">Manage Contact</a>
                    {% endif %}
				<div class="card card-body" id="general">
					<h3>Contacts List:</h3>
				</div>
				<div class="card card-body" id="general">
                    <h5 style="color: red">Emergency Numbers</h5>
					<table class="table">
						<tr>
							<th>Name</th>
							<th>Telephone</th>
						</tr>
                        {% for c in contacts %}
							<tr>
								<td>{{c.name}} </td>
								<td><a href="tel:{{c.telephone}}">{{c.telephone}}</a></td>
							</tr>
						{% endfor %}
					</table>
                <h5 style="color: red">Patrol Managers Numbers:</h5>
                	<table class="table">
						<tr>
							<th>Name</th>
							<th>Telephone</th>
						</tr>
                        {% for p in patrols %}
							<tr>
								<td>{{p.First_Name}} {{p.Last_Name}}</td>
								<td><a href="tel:{{p.Phone_Number}}">{{p.Phone_Number}}</a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>

		</div>

	<style>
	        #logo{
		}
		#general{
		background-color: #D3D3D3;
		}
		body{
			background-color: #7CD1E0;
		}
	</style>
</body>
</html>
{% endblock %}
