{% extends 'base.html' %}

{% block title %}
    Patrol Management Page
{% endblock %} %}

{% block content %}
    <h1>Create Patrol:</h1><br>
    {% load crispy_forms_tags %}
{#    <link rel="stylesheet" href="/static/style_back_all.css"> #}
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6">
        {% for field in form %}
            {% if field.name == "priority" %}
                {% if user.is_superuser %}
                    {{ field|as_crispy_field }}
                {% endif %}
            {% else %}
                {{ field|as_crispy_field }}
            {% endif %}
        {% endfor %}
        </div>
{#        TODO: why the input?? - i've put it in a comment for the time being #}
{#        <input type="user" class="form-control" id="{{ user }}">#}
        <button type="submit" class="btn btn-dark btn-sm" name="save">Post</button>
        <br>
        <br>
    </form>
{% endblock %}

