{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parent Patrol Page</title>
    <script>
function myFunction(id) {

    if (document.getElementById("b_"+id).textContent == "Close"){
        document.getElementById("b_"+id).textContent = "Show Summary";
        document.getElementById(id).style.display = "none";
    }
    else{
       document.getElementById("b_"+id).textContent = "Close";
       document.getElementById(id).style.display = "";
    }

   }

    </script>
</head>
<body>
{#   <link rel="stylesheet" href="/static/style_back_all.css">#}
<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body" id="general">
					<h5>List of patrols:</h5>
				</div>
				<div class="card card-body" id="general">
<!--	sort is here-->
					<tr><th><a href="{{ parent_patrol }}?sort=Priority">Sort By Priority </a></th>
                        <th>

                <div id="example">
        <div class="demo-section k-header" style="width: 600px;">
    <form method="POST">
    {% csrf_token %}
            <label for="start">Patrols who starting Between </label>
            <select name="STime">
                <option value="0">All</option>
                <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>

            </select>

            <label for="end" style="margin-left:3em">and</label>
            <select name="ETime">
                <option value="0">All</option>
                <option value="20:00">20:00</option>
              <option value="21:00">21:00</option>
              <option value="22:00">22:00</option>
              <option value="23:00">23:00</option>

            </select>
                    <label for="end" style="margin-left:3em"> </label>
             <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

        </div>
        <script>
            $(document).ready(function() {
                function startChange() {
                    var startTime = start.value();

                    if (startTime) {
                        startTime = new Date(startTime);

                        end.max(startTime);

                        startTime.setMinutes(startTime.getMinutes() + this.options.interval);

                        end.min(startTime);
                        end.value(startTime);
                    }
                }

                //init start timepicker
                var start = $("#start").kendoTimePicker({
                    change: startChange
                }).data("kendoTimePicker");

                //init end timepicker
                var end = $("#end").kendoTimePicker().data("kendoTimePicker");

                //define min/max range
                start.min("8:00 AM");
                start.max("6:00 PM");

                //define min/max range
                end.min("8:00 AM");
                end.max("7:30 AM");
            });
        </script>

        <style scoped>
            #example .k-timepicker {
                vertical-align: middle;
            }

            #example h3 {
                clear: both;
            }

            #example .code-sample {
                width: 60%;
                float:left;
                margin-bottom: 20px;
            }

            #example .output {
                width: 24%;
                margin-left: 4%;
                float:left;
            }

        </style>
    </div>

					<table class="table">
						<tr>
							<th>Title</th>
							<th>Manager</th>
							<th>Status</th>
							<th>Location</th>
                            <th>Start Time</th>
							<th>End Time</th>
							<th>Priority</th>
							<th>Participants Needed</th>

						</tr>
                        <tr>
							<th>Active Patrols</th>
						</tr>
                        {% for patrol in activePatrols %}
							<tr>
                                <td>
                                <a href="{% url 'patrol_page' patrol.pk %}" style="color:#0A0000; font-weight:500">
                                    {{ patrol.title }}
                                </a>
                                </td>
                                <td>{{patrol.manager}}</td>
                                <td>{{patrol.status}}</td>
                                <td>{{patrol.location}}</td>
                                <td>{{patrol.start_time}}</td>
                                <td>{{patrol.end_time}}</td>
                                <td>{{patrol.priority}}</td>
                                <td>{{patrol.participants_needed}}</td>
							</tr>
						{% endfor %}
                        <tr>
							<th>Archive Patrols</th>
						</tr>
                        {% for patrol in donePatrols %}
							<tr>
								<td>{{patrol.title}}</td>
								<td>{{patrol.manager}}</td>
								<td>{{patrol.status}}</td>
								<td>{{patrol.location}}</td>
								<td>{{patrol.start_time}}</td>
								<td>{{patrol.end_time}}</td>
								<td>{{patrol.priority}}</td>
								<td>{{patrol.participants_needed}}</td>
                                {% if user.is_superuser %}
                                    <td><button id="b_{{ patrol.id }}" onclick="myFunction({{ patrol.id }})">Show Summary</button></td>
                                    <tr id="{{ patrol.id }}" style="display: none">
                                        <td>
                                            <h5>Summary:</h5>
                                            {{ patrol.description }}
                                        </td>
                                    </tr>
                                {% endif %}
							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

	<style>
	        #logo{
		}
		#general{
		background-color: #D3D3D3;
		}
		body{
			background-color: #7CD1E0;
		}
	</style>
</body>
</html>
{% endblock %}
