{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patrol Management Page</title>
</head>
<body>
{#    <link rel="stylesheet" href="/static/style_back_all.css">#}
    <div class="patrol_list: ">
         <ul class="list-group" style="opacity:0.85;">
             <h3>Your Patrols</h3>
            {% for number, patrol in patrols %}
                {# TODO: when specific patrol page is created - change the patrol listing to include a link of it #}
                <li class="list-group-item" style="margin-left:2em">{{ number }}.   {{patrol}}</li>
            {% endfor %}
        </ul>
        <hr>
    </div>
    <div>
        {# add patrol button #}
        <a href="{% url 'CreatePatrol' %}" class="btn btn-primary" style="margin-left:2em">Add Patrol</a>
    </div>
</body>
</html>
{% endblock %}

