{% extends 'base.html' %}

{% block title %}
    Patrol Management Page
{% endblock %} %}
{% block content %}
     {# patrol page patrol #}
    <br>
    <h2><span >{{ patrol.title }}</span></h2>
     <p class=" text-muted">
        <span class="glyphicon glyphicon-time"></span>
        manager: {{ patrol.manager }} | created: {{ patrol.time_created }}
    </p>
    <h5 style="margin:0;padding:0;">Location:</h5> {{ patrol.location }}
    <br>
    <h5 style="margin:0;padding:0;">Date:</h5> {{ patrol.date }}
    <br>
    <h5 style="margin:0;padding:0;">Start Time:</h5> {{ patrol.start_time }}
    <br>
    <h5 style="margin:0;padding:0;">End Time:</h5> {{ patrol.end_time }}
    <br>

    {% if patrol.description %}
        <h5 style="margin:0;padding:0;">Summary:</h5> {{ patrol.description }}
        <br>
    {% endif %}
    <h5 style="margin:0;padding:0;">Number of Participants:</h5> {{ patrol.approved_reactions.count }}/{{ patrol.participants_needed }}
    <br><br>
    <form method="POST">
        {% csrf_token %}
        {% if msg %}
            {% if msg == "You are already signed to this patrol" %}
                <h3 style="color: red">{{ msg }}</h3>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel?')" name="cancel" value="cancel">Cancel</button>
            {% else %}
            <button type="submit" class="btn btn-danger">{{ msg }}</button>
            {% endif %}
        {% else %}
            <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to join?')" name="join" value="join">Join Patrol</button>
        {% endif %}
    </form>
    <br><br>
    <a href="{% url 'parent_patrol' %}" class="btn btn-primary" style="margin-left:2em">Back To Patrols</a>
{% endblock %}

