{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patrol Management Page</title>
</head>
<body>
{#    <link rel="stylesheet" href="/static/style_back_all.css">#}
    <div>
        {# add patrol button #}
        <br>
        <br>
        <a href="{% url 'CreatePatrol' %}" class="btn btn-primary" style="margin-left:2em">Add Patrol</a>
                <br>        <br>
    </div>
<form method="POST">
{% csrf_token %}
    <div class="patrol_list: ">
         <ul class="list-group" style="opacity:0.85;">
         {% if user.is_superuser %}
             <h3>All Patrols</h3><br>
        {% else %}
             <h3>My Patrols</h3><br>
         {% endif %}
            {% for number, patrol in patrols %}
                {# TODO: when specific patrol page is created - change the patrol listing to include a link of it #}
                <li class="list-group-item" style="margin-left:2em">{{ number }}.&nbsp;&nbsp;&nbsp;{{patrol}}
                    {% if user.is_superuser %}
                    &nbsp;&nbsp;&nbsp; <b>To CSV?</b>&nbsp;&nbsp;<input type="checkbox" name="ToCSV" value="{{ patrol.id }}" checked>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <hr>
    </div>
<h6 style="color: red">{{ error }}</h6>
    {% if user.is_superuser %}
        <button type="submit" class="btn btn-primary">Download CSV File</button>
    {% endif %}
</form>
</body>
</html>
{% endblock %}

