{% extends 'base.html' %}
{% block content %}
<title>Secure City</title>


<div align="center">
<h1>Add Parent</h1>
    <br><br>

            <form method="POST"  name="clicked" action="{% url 'AddParent' %}" >
                {% csrf_token %}
                <p>{{ form.username.label }}: {{ form.username }}</p>
                {% for error in form.username.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                <p>{{ form.password1.label }}: {{ form.password1 }}</p>
                {% for error in form.password1.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                <p>{{ form.password2.label }}: {{ form.password2 }}</p>
                {% for error in form.password2.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}

                <p>{{ profile_form.First_Name.label }}: {{ profile_form.First_Name }}</p>
                {% for error in profile_form.First_Name.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                <p>{{ profile_form.Last_Name.label }}: {{ profile_form.Last_Name }}</p>
                {% for error in profile_form.Last_Name.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                 <p>{{ profile_form.Birthday.label }}: {{ profile_form.Birthday }}</p>
                {% for error in profile_form.Birthday.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                 <p>{{ profile_form.ID_Number.label }}: {{ profile_form.ID_Number }}</p>
                {% for error in profile_form.ID_Number.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                <p>{{ profile_form.Phone_Number.label }}: {{ profile_form.Phone_Number }}</p>
                {% for error in profile_form.Phone_Number.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                <p>{{ profile_form.City.label }}: {{ profile_form.City }}</p>
                {% for error in profile_form.City.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}
                <p>{{ profile_form.Neighborhood.label }}: {{ profile_form.Neighborhood }}</p>
                {% for error in profile_form.Neighborhood.errors %}
                    <li style="color: red">{{ error }}</li>
                {% endfor %}



                <input type="submit" style="color: white; background-color: blue" name="clicked" value ="Create">
            </form>
</div>
<br><br><br><br>
{% endblock %}