{% extends 'base.html' %}
{% block content %}

 <style>
    .user_error input {
        border-color: red;
    }
 </style>

<div align="center">
<h1>Create Parent User:</h1>
    <br><br>
            <form method="POST"  name="clicked" action="{% url 'AddParent' %}" >
                {% csrf_token %}
                {% for field in form %}
                     <p>{{ field.label }}:
                    <span class="{% if field.errors %}user_error{% endif %}">
                        {{ field }}
                    </span></p>
                    {% for error in field.errors %}
                        <li style="color: red">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for field in profile_form %}
                     <p>{{ field.label }}:
                    <span class="{% if field.errors %}user_error{% endif %}">
                        {{ field }}
                    </span></p>
                    {% for error in field.errors %}
                        <li style="color: red">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                <input type="submit" style="color: white; background-color: blue" name="clicked" value ="Create">
            </form>
</div>
<br><br><br><br>
{% endblock %}