{% extends 'base.html' %}
{% block content %}


<html lang="en">
<head>
    <style>
    table {
      font-family: arial, sans-serif;
      width: 85%;
        text-align: center;
        text-transform: capitalize;
        line-height: 40px;

    }
    th{
      border: 1px solid #dddddd;
    }
    td{
      border: 1px solid #dddddd;
    }


    tr:nth-child(even) {
      background-color: #35b0ff;
    }
    </style>
</head>
<body>
<br><br>
{% if objects %}
    <div class="container" name="your_patrols">

        <h3>You'r Patrols</h3>
        <br><br>
        <table>
          <tr>
                <th>Edit</th>
              {% for x in fields %}
                <th>{{ x.name }}</th>
              {% endfor %}
          </tr>
            {% for obj in objects %}
                <tr>
                    <td><a href="{% url 'adminEdit' %}?EditObject={{ type }}{{ obj.id }}"><button>✏️</button></a></td>

                {% for name, value in obj.get_fields_values %}
                    {% if value %}
                        <td>
                        <a href="{% url 'patrol_page' obj.pk %}" style="color:#0A0000; font-weight:500">
                                        {{ value }}
                                    </a>
                            </td>

                    {% else %}
                        <td>-</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
<br><br><br>

<h1>Data about {% if user.is_superuser %} Your City {% else %} Neighborhood {{ user.profile.Neighborhood }} {% endif %}:</h1>
<br>
{{ df.to_html|safe }}
{#<table class="table">#}
{#  <thead class="table-primary">#}
{#    <tr>#}
{#        {% for i in heder %}#}
{#            <th scope="col">{{ i }}</th>#}
{#        {% endfor %}#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    <tr>#}
{#        {% for i in data %}#}
{#            <td>{{ i }}</td>#}
{#        {% endfor %}#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}



</body>
</html>

{% endblock %}